<!DOCTYPE html>

<%- include('../partials/head'); %>

    <body class="container mx-auto px-8 py-10">
        <%- include('../partials/header'); %>
            <main>
                <div class="bg-stone-200 px-6 py-10 rounded">
                    <h1 class="text-4xl">Node EJS</h1>
                    <p>Aprender EJS</p>
                </div>
                <ul>
                    <% qualitys.forEach((quality)=>{ %>
                        <li>
                            <strong><%= quality.title %></strong><%= quality.message %>
                        </li>
                    <% }) %>
                </ul>
            </main>
            <%- include('../partials/footer'); %>
    </body>

</html>